<div class="row" *ngIf="projectStats">
    <div class="col-xxxl-4 col-sm-6 col-md-4">
        <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <span class="d-block text-gray">
                    Numero Preventivo
                </span>
                <p class="text-black">
                    {{projectStats.quoteNumber? projectStats.quoteNumber : '--'}}
                </p>
                <span class="d-block text-gray">
                    Data Preventivo
                </span>
                <p class="text-black">
                    {{projectStats.quoteDate? (projectStats.quoteDate | date:'dd MMM yyyy') : '--/--/----'}}
                </p>
                <span class="d-block text-gray">
                    Totale Preventivo
                </span>
                <p class="text-black">
                    {{projectStats.quoteAmount? projectStats.quoteAmount : '--'}}
                </p>

            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-xxxl-4 col-sm-6 col-md-4">
        <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <span class="d-block text-gray">
                    Numero Ordine
                </span>
                <p class="text-black">
                    {{projectStats.salesOrderNumber? projectStats.salesOrderNumber : '--'}}
                </p>
                <span class="d-block text-gray">
                    Data Ordine
                </span>
                <p class="text-black">
                    {{projectStats.salesOrderDate? (projectStats.salesOrderDate | date:'dd MMM yyyy') : '--/--/----'}}
                </p>
                <span class="d-block text-gray">
                    Totale Ordine
                </span>
                <p class="text-black">
                    {{projectStats.salesOrderAmount ? projectStats.salesOrderAmount : '--'}}
                </p>

            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-xxxl-4 col-sm-6 col-md-4">
        <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <span class="d-block text-gray">
                    Numero Fattura
                </span>
                <p class="text-black">
                    {{projectStats.invoiceNumber? projectStats.invoiceNumber : '--'}}
                </p>

            </mat-card-content>
            <mat-card-content>
                <span class="d-block text-gray">
                    Data Fattura
                </span>
                <p class="text-black">
                    {{projectStats.invoiceDate? (projectStats.invoiceDate | date:'dd MMM yyyy') : '--/--/----'}}
                </p>

            </mat-card-content>

        </mat-card>
    </div>

</div>