<div class="error text-danger" *ngIf="control.errors?.['required'] && control!.touched"> Perfavore inserisci
    {{label}} </div>

<div class="error text-danger" *ngIf="control.errors?.['minlength'] && control!.touched"> {{label}} deve essere almeno
    {{control.errors?.['minlength'].requiredLength}} caratteri </div>

<div class="error text-danger" *ngIf="control.errors?.['maxlength'] && control!.touched"> {{label}} deve essere al
    massimo {{control.errors?.['maxlength'].requiredLength}} caratteri</div>

<div class="error text-danger" *ngIf="control.errors?.['notMatching'] && control!.touched">Le password non corrispondono
</div>

<div class="error text-danger" *ngIf="control.errors?.['min'] && control!.touched">{{label}} deve essere maggiore o uguale a
    {{control.errors?.['min'].min}} </div>

<div class="error text-danger" *ngIf="control.errors?.['max'] && control!.touched">{{label}} deve essere minore o uguale a
    {{control.errors?.['max'].max}}</div>

<div class="error text-danger" *ngIf="control.errors?.['email'] && control!.touched"> Perfavore inserisci un email
    valida ex.
    prova&#64;mail.it</div>