<mat-card class="trinta-card products-list-card mb-25 bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Clienti
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button matTooltip='Inserisci nuova Business Unit' mat-mini-fab color="primary"
                style="display: right; margin-right:20px; " [routerLink]="['/home/businessUnit/edit']">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <form class="search-box position-relative" [formGroup]="filtersForm">
            <div class="flex-container">
                <mat-form-field class="search">
                    <i-feather name="search"></i-feather>
                    <mat-label>Codice</mat-label>
                    <input matInput formControlName="businessUnitInitials">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nome Cliente</mat-label>
                    <i-feather name="search"></i-feather>
                    <input matInput formControlName="businessUnitName">
                </mat-form-field>
                <button mat-icon-button (click)="resetFilters()">  <mat-icon>restore_from_trash</mat-icon></button>
            </div>
        </form>

        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- Codice Column -->
                <ng-container matColumnDef="businessUnitInitials">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Codice
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.businessUnitInitials}}
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="businessUnitName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nome Cliente
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.businessUnitName}}
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Modifica
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button matTooltip="Primary" color="basic" aria-label="Modifica Business Unit"
                            [routerLink]="['/home/businessUnit/edit', element.businessUnitId ]">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
        <mat-divider></mat-divider>
        <mat-paginator [length]="pagination?.totalItems" [pageSize]="pagination?.itemsPerPage"
            [pageSizeOptions]="[5, 10, 25, 50]" (page)="pageChanged($event)" [pageIndex]="pagination?.currentPage"
            [hidePageSize]="false" showFirstLastButtons>
        </mat-paginator>
    </mat-card-content>
</mat-card>