<div class="sidebar-area bg-white transition" [ngClass]="{'active': isToggled}">
    <div class="logo bg-white">
        <a routerLink="/home" class="d-flex align-items-center">
            <img src="assets/images/logo-icon.svg" alt="logo-icon">
            <span class="fw-extrabold">
                Techne
            </span>
        </a>
    </div>
    <div class="burger-menu transition cursor-pointer" [ngClass]="{'active': isToggled}" (click)="toggle()">
        <span class="top-bar transition bg-dark d-block"></span>
        <span class="middle-bar transition bg-dark d-block"></span>
        <span class="bottom-bar transition bg-dark d-block"></span>
    </div>
    <ng-scrollbar visibility="hover" *ngIf="authService.currentUser$|async">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="home"></i-feather>
                                <span class="title">
                                    Anagrafiche
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/home/customer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                                    class="sidemenu-link">
                                    Clienti
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/home/employees" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                                    class="sidemenu-link">
                                    Utenti
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/home/businessUnit" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                                    class="sidemenu-link">
                                    Business Unit
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="briefcase"></i-feather>
                                <span class="title">
                                    Progetti
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/home/project-management" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Lista Progetti
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i-feather name="settings"></i-feather>
                                <span class="title">
                                    Impostazioni
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/home/settings" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Admin Panel
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>