<div class="row">
    <div class="col-xxxl-8">
        <app-about *ngIf="projectDto" [project]="projectDto" />

        <app-stats-order *ngIf="projectDto" [projectId]="projectDto.projectId" />

        <app-task-overview *ngIf="projectDto" [projectId]="projectDto.projectId"
            [projectTitle]="projectDto.projectName" />

    </div>

    <div class=" col-xxxl-4">
        <app-stats *ngIf="projectDto" [project]="projectDto" />

        <app-team-members *ngIf="projectDto" [projectId]="projectDto.projectId" />

        <app-attachments *ngIf="projectDto" [projectId]="projectId" />

    </div>