<div class="row">
    <div class="col-xxxl-4 col-sm-6 col-md-4">
        <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <span class="d-block text-gray">
                    Status
                </span>
                <h5>
                    {{project.statusName}}
                </h5>

            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-4 col-sm-6 col-md-4">
        <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <span class="d-block text-gray">
                    Prev/cons
                </span>
                <h5 *ngIf="project.totEstimatedEffortInDays && project.totNotBudgetedTaskLoggedDays; else elseBlock">
                    {{((project.totEstimatedEffortInDays/project.totNotBudgetedTaskLoggedDays)*100).toFixed(1)}}%
                </h5>
                <ng-template #elseBlock>
                    <h5>n/a</h5>
                </ng-template>


            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-4 col-sm-6 col-md-4">
        <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <span class="d-block text-gray">
                    gg/u extra prev
                </span>
                <h5>
                    {{project.totNotBudgetedTaskLoggedDays?.toFixed(1)}}
                </h5>

            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-12 col-sm-6 col-md-4">
        <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
            <span class="d-block text-gray">
                Business Unit
            </span>
            <h5 class="mb-0 fw-medium">
                {{project.businessUnitInitials}} - {{project.businessUnitName}}
            </h5>
        </mat-card>


    </div>
</div>