<div class="row">
    <div class="col-xxxl-4 col-sm-6 col-md-4">
        <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <span class="d-block text-gray">
                    Stato
                </span>
                <h5>
                    {{project.statusName}}
                </h5>

            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-4 col-sm-6 col-md-4">
        <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <span class="d-block text-gray">
                    Prev/Cons
                </span>
                <h5 *ngIf="project.totEstimatedEffortInDays && project.totTaskLoggedDays; else elseBlock">
                    {{((project.totTaskLoggedDays/project.totEstimatedEffortInDays)*100).toFixed(2)}}%
                </h5>
                <ng-template #elseBlock>
                    <h5>n/a</h5>
                </ng-template>


            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-4 col-sm-6 col-md-4">
        <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
            <mat-card-content>
                <span class="d-block text-gray">
                    GG/u Extra Prev
                </span>
                <h5>
                    {{project.totNotBudgetedTaskLoggedDays?.toFixed(1)}}
                </h5>

            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-12 col-sm-12 col-md-12">
        <mat-card class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center">
            <span class="d-block text-gray">
                Business Unit
            </span>
            <h5 class="mb-0 fw-medium">
                {{project.businessUnitInitials}} - {{project.businessUnitName}}
            </h5>
        </mat-card>


    </div>
</div>