<mat-card class="trinta-card mb-25 bg-white border-none d-block">
  <mat-card-header>
    <mat-card-title>
      <h5 class="mt-0 mb-0">
        {{pageTitle}}
      </h5>
    </mat-card-title>
    <mat-card-subtitle>
      <button matTooltip='Elimina utente' mat-mini-fab color="warn" style="display: inline; margin-right:20px; "
        (click)="onDelete()" *ngIf="userId>0">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="userForm">
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <i-feather name="user"></i-feather>
            <mat-label>Nominativo</mat-label>
            <input matInput [formControl]="$any(userForm.controls['fullName'])">
          </mat-form-field>
          <app-text-input [formControl]="$any(userForm.controls['fullName'])" [label]="'Nominativo'" />
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <i-feather name="user"></i-feather>
            <mat-label>Username</mat-label>
            <input matInput [formControl]="$any(userForm.controls['userName'])" [readonly]="!!userId">
          </mat-form-field>

          <app-text-input [formControl]="$any(userForm.controls['userName'])" [label]="'Username'" />
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <i-feather name="mail"></i-feather>
            <mat-label>Email</mat-label>
            <input matInput [formControl]="$any(userForm.controls['email'])">
          </mat-form-field>
          <app-text-input [formControl]="$any(userForm.controls['email'])" [label]="'Email'" />
        </div>

        <div class="col-md-6 col-xxl-4">
          <mat-form-field>
            <i-feather name="list"></i-feather>
            <mat-label>Ruoli</mat-label>
            <mat-select multiple formControlName="roles">
              <mat-option *ngFor="let role of roles" [value]="role.name">{{ role.name }}</mat-option>
            </mat-select>
          </mat-form-field><div class="error text-danger"
        *ngIf="userForm.get('roles')!.hasError('required') && userForm.get('roles')!.touched">
        Perfavore seleziona almeno un ruolo
      </div>

        </div>
      </div>
      

      <button mat-fab extended color="primary" (click)="onSubmit()" [disabled]="userForm.invalid">
        <mat-icon>save</mat-icon> Salva
      </button>
      <button mat-fab extended color="warn" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Annulla
      </button>

    </form>
  </mat-card-content>
</mat-card>