<div class="row">
    <div class="col-xxl-4">

        <!-- Profile -->
        <app-task-info *ngIf="task" [task]="task"></app-task-info>
    </div>
   
    <div class="col-xxl-4">
        <app-task-order *ngIf="task" [task]="task"></app-task-order>
    </div>
    <div class="col-xxl-4">
        <app-task-employees *ngIf="taskId" [taskId]="taskId" [projectId]="projectId"></app-task-employees>
    </div>
    <div class="col-xxl-4">
        <app-task-invoices *ngIf="task" [task]="task"></app-task-invoices>

    </div>
    
</div>